{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<h1>Invoice Details</h1>
<br/>
<form method="POST" id="product-details">
    <table>
        <tr>
            <td style="width: 20%;"><th>{{ form.productname.label(class="form-label") }}</th></td>
            <td><th>{{ form.producthsn.label(class="form-label") }}</th></td>
            <td><th>{{ form.productrate.label(class="form-label") }}</th></td>
            <td><th>{{ form.productquantity.label(class="form-label") }}</th></td>
            <td><th>{{ form.productprice.label(class="form-label") }}</th></td>
            <td><th>{{ form.productdiscount.label(class="form-label") }}</th></td>
            <td><th>{{ form.productvalue.label(class="form-label") }}</th></td>
        </tr>
        <tr>
            <td>{{ form.productname(**{"style": "width:100%;", "hx-get":"/has-product-name", "hx-target": "#hasproductname"}) }}</td>
            <td>{{ form.producthsn }}</td>
            <td>{{ form.productrate }}</td>
            <td>{{ form.productquantity(**{"hx-get": "/has-product-quantity", "hx-include": "#product-details", "hx-target": "#hasproductquantity"}) }}</td>
            <td>{{ form.productprice }}</td>
            <td>{{ form.productdiscount }}</td>
            <td>{{ form.productvalue }}</td>
            <td>{{ form.submit(style="margin-top: 50%;") }}</td>
        </tr>
    </table>
</form>

{% endblock %}