{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<h1>Invoice Details</h1>
<br/>
<form method="POST">
    <table id="product-details">
        <tr>
            <thead style="text-align: center; font-weight: bold;">
                <td>{{ form.productname.label(class="form-label") }}</td>
                <td>{{ form.producthsn.label(class="form-label") }}</td>
                <td>{{ form.productrate.label(class="form-label") }}</td>
                <td>{{ form.productquantity.label(class="form-label") }}</td>
                <td>{{ form.productprice.label(class="form-label") }}</td>
                <td>{{ form.productdiscount.label(class="form-label") }}</td>
                <td>{{ form.productvalue.label(class="form-label") }}</td>
            </thead>
            
        </tr>
        <tr>
            <td style="width: 20%;">{{ form.productname(**{"style": "width:100%;"}) }}</td>
            <td>{{ form.producthsn }}</td>
            <td>{{ form.productrate }}</td>
            <td>{{ form.productquantity }}</td>
            <td>{{ form.productprice }}</td>
            <td>{{ form.productdiscount }}</td>
            <td>{{ form.productvalue }}</td>
            <td>{{ form.submit }}</td>
        </tr>
    </table>
</form>

{% endblock %}