{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<h1>Invoice Details</h1>
<br/>
<form method="POST">
    <table id="productdetailsform">
        <tr>
            <td>
                <table id="productnameselect" style="width: 150px;">
                    <tr>
                        <thead style="text-align: center; font-weight: bold;">
                            <td>{{ form.productname.label(class="form-label") }}</td>
                        </thead>
                    </tr>
                    <tr>
                        <td>{{ form.productname(**{"style": "width:100%;", "hx-get": "/productname-revalidate", "hx-include": "#productdetailsform", "hx-target": "#productdetailsfields"}) }}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table id="productdetailsfields">
                    <tr>
                        <thead style="text-align: center; font-weight: bold;">
                            <td>{{ form.producthsn.label(class="form-label") }}</td>
                            <td>{{ form.productrate.label(class="form-label") }}</td>
                            <td>{{ form.productquantity.label(class="form-label") }}</td>
                            <td>{{ form.productprice.label(class="form-label") }}</td>
                            <td>{{ form.productdiscount.label(class="form-label") }}</td>
                            <td>{{ form.productvalue.label(class="form-label") }}</td>
                        </thead>
                    </tr>
                    <tr>
                        <td>{{ form.producthsn }}</td>
                        <td>{{ form.productrate(**{"hx-get": "/productrate-revalidate", "hx-include": "#productdetailsform", "hx-target": "#productdetailsfields"}) }}</td>
                        <td>{{ form.productquantity }}</td>
                        <td>{{ form.productprice }}</td>
                        <td>{{ form.productdiscount }}</td>
                        <td>{{ form.productvalue }}</td>
                        <td>{{ form.submit }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>

{% endblock %}