<tbody><tr>
    </tr></tbody><thead style="text-align: center; font-weight: bold;">
        <tr><td><label class="form-label" for="productname">Select Product</label></td>
        <td><label class="form-label" for="producthsn">HSN</label></td>
        <td><label class="form-label" for="productrate">Rate</label></td>
        <td><label class="form-label" for="productquantity">Quantity</label></td>
        <td><label class="form-label" for="productprice">Price</label></td>
        <td><label class="form-label" for="productdiscount">Discount</label></td>
        <td><label class="form-label" for="productvalue">Taxable Value</label></td>
    </tr></thead>
    
<tbody><tr>
    <td style="width: 20%;"><select id="productname" name="productname" style="width:100%;"><option selected="" value="__None"></option><option value="1">cylinder</option><option value="2">pipe</option><option value="4">regulator</option><option value="3">stove</option></select></td>
    <td><input id="producthsn" name="producthsn" type="text" value=""></td>
    <td><input id="productrate" name="productrate" type="text" value=""></td>
    <td><input id="productquantity" max="30" min="1" name="productquantity" type="number" value=""></td>
    <td><input id="productprice" name="productprice" type="text" value=""></td>
    <td><input id="productdiscount" name="productdiscount" type="text" value=""></td>
    <td><input id="productvalue" name="productvalue" type="text" value=""></td>
    <td><input id="submit" name="submit" type="submit" value="Submit"></td>
</tr>
</tbody>